body{
  margin: 0;
}
.top{
  background: #22262a;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.wrap{width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
/* wrap*/

.menu_top{
  float: left;
  width: 33.33%;
}
.menu_top ul{
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.menu_top li{
  float: left;
  margin-right: 20px;
  position: relative;
}

.menu_top li:after{
  content: "";
  width: 5px;
  height: 5px;
  display: block;
  background: #eebf98;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -14px;
  margin-top: -2.5px;
}
.menu_top li:last-child::after{
display: none;
}
.menu_top li:last-child{
  margin-right: 0;
}
.menu_top a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.menu_top a:hover{
  color: #eebf98;
  transition: 0.3s;
}
/* menu */

.contacts_top{
  float: left;
  width: 33,33%;
  overflow: hidden;
  padding-top: 18px;
}
.contacts_top i{
  margin-right: 10px;
  color: #eebf98;
}

.contacts_top a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.contacts_top a:hover{
  color: #eebf98;
  transition: 0.3s;
}
.contacts_top .phone{
  float: left;
  margin-right: 30px;
}

.contacts_top .email{
  float: left;
}
/* contacts_top */
.other{
  float: right;
  width: 33,33%;
  overflow:hidden;
  padding-top: 18px;
}
.other .location{
	float: right;
}
.location a{
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.other .weather{
	float: right;
  color: #fff;
}
/* other */

.header_center{
  padding-top: 20px;
}

.logo{
  float: left;
  width: 30%;
  padding-top: 14px;
}
.banner_header{
  float: left;
  width: 40%;
}
.banner_header img{
  display: block;
  width: 100%;
  height: auto;
}
.header_info{
  float: right;
  width: 30%;
}
.header_info ul{
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}
.header_info li{
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin: 0 10px;
  background: #e0e0e0;
  position: relative;
}
.header_info li:hover{
  background: #eebf98;
  transition: 0.6s;
}
.header_info_i{
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -7.5px; 
}

.header_bookmark{
  right: 14px
}
/* header_center */